:root {
  --main-color: #234e70;
  --main-black: #0a0a0a;
  --main-white: #f9f9f9;
}

@keyframes pulse {
  0% {
    background-size: 100%;
  }
  100% {
    background-size: 130%;
  }
}

#root {
  color-scheme: dark;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
  background-image: radial-gradient(
      circle at 165% 0%,
      var(--main-color) 0%,
      transparent 49%
    ),
    radial-gradient(circle at -65% 110%, var(--main-color) 0%, transparent 49%);
  background-attachment: fixed;
  background-position: center;
  background-color: var(--main-black);
  color: var(--main-white);
  font-family: "Syne", sans-serif;
  animation: pulse 7s ease-in-out infinite alternate;
  overflow: hidden scroll;
}

nav ul {
  width: 450px;
  list-style-type: none;
  padding: 0;
  display: inline-flex;
  justify-content: space-evenly;
  transition: 100ms;
}

nav li {
  font-size: 20px;
  transition: 180ms;
}

.selected {
  text-decoration: underline;
}

nav li:hover {
  scale: 1.1;
  text-decoration: underline;
}

.sectionHeader {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 41px;
  line-height: 54px;
}

.sectionH2 {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
}
.sectionH3 {
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
}

.paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}

#videoLoop {
  margin-top: -300px;
  width: 100%;
  position: relative;
  pointer-events: none;
}

.valueCard {
  transition: 200ms;
}
.valueCard:hover {
  scale: 1.01;
  background-color: #181818;
  filter: drop-shadow(0 0 0.2rem #12293a);
}

#promofilm {
  width: 560px;
  height: 315px;
}

.pageContainer {
  max-width: 1800px;
  padding: 10px 0;
  margin: 0 auto;
  background-image: radial-gradient(
      circle at 140% 0%,
      var(--main-color) 0%,
      transparent 49%
    ),
    radial-gradient(circle at -40% 110%, var(--main-color) 0%, transparent 49%);
  background-attachment: fixed;
  background-position: center;
  background-color: var(--main-black);
}

@media only screen and (max-width: 640px) {
  #root {
    background-image: radial-gradient(
        circle at 160% 0%,
        var(--main-color) 0%,
        transparent 49%
      ),
      radial-gradient(
        circle at -60% 110%,
        var(--main-color) 0%,
        transparent 49%
      );
  }

  nav ul {
    width: 100vw;
  }

  .sectionHeader {
    font-size: 33px;
  }

  #videoLoop {
    margin-top: -200px;
  }

  .sectionH3 {
    font-size: 26px;
    line-height: 26px;
  }

  #promofilm {
    width: 94vw;
  }
}
